allowed_paths:
  - "/storage"

components:
  app:
    name: "App Manager"
    class: "survy.core.components.app/AppManager"

  http:
    name: "HTTP Request Manager"
    class: "survy.core.components.http/HttpManager"
    params:
      host: 0.0.0.0
      port: 8080

  tcpsocket:
    name: "Main TCP Socket Manager"
    class: "survy.core.components.tcpsocket/TCPSocketManager"
    params:
      host: 0.0.0.0
      port: 2006

  rule:
    name: "Rules mnager"
    class: "survy.core.components.rule/RuleManager"

  runlevel:
    name: "Runlevel manager"
    class: "survy.core.components.runlevel/RunlevelManager"

  tts:
    name: "TTS Manager"
    class: "survy.core.components.tts/TtsManager"
    params:
      festival_bin: "/usr/bin/festival"
      voice: 'voice_pc_diphone'

  telegram:
    name: "Telegram Manager"
    class: "survy.core.components.telegram/TelegramManager"

  signal_usb_ook:
    name: "USB OOK Radio adapter"
    class: "survy.core.components.signals.usb_ook/SignalManagerUsbOOK"
    params:
      serial: "/dev/ttyUSB0"
      baud: 115200
      signals-interval: 1
      anti-jamming-interval: 2

  webclient:
    name: "Web Client Manager"
    class: "survy.core.components.webclient/WebClientManager"

  cam:
    name: "Cam"
    class: "survy.core.components.cam/CamManager"
    params:
      capture_path: "/storage/ASMT-2115-01/survy"
      avconv: '/usr/bin/avconv'
      adapters:
        foscam-mjpeg: "survy.core.components.cam_adapters.foscam/FoscamMjpegAdapter"
        foscam-h264: "survy.core.components.cam_adapters.foscam/FoscamH264Adapter"
        local: "survy.core.components.cam_adapters.local/LocalAdapter"
        custom: "survy.core.components.cam_adapters.custom/CustomAdapter"

  camstream:
    name: "Cam Streaming"
    class: "survy.core.components.camstream/CamStreamManager"
    params:
      host: 0.0.0.0
      port: 8081

  cron:
    name: "Cron manager"
    class: "survy.core.components.cron/CronManager"


